@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set the body and html elements to take full height */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #root {
    height: 100%; /* Ensure root container is full height */
  }
  